body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import url("https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #30434f;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/* Login */
.login {
  margin: auto;
  padding: 120px 0px 0px 0px;
}

.container {
  max-width: 440px;
  padding: 0 20px;
  margin: auto;
}
.wrapper {
  width: 100%;
  background: #4a6572;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}
.wrapper .title {
  height: 90px;
  background: #ff8c1a;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form {
  padding: 30px 25px 25px 25px;
}
.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input,
select {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 0px;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(238, 155, 46);
  background: transparent;
  font-size: 16px;
  transition: all 0.3s ease;
}
.wrapper form .row select {
  color: #ce801a;
  opacity: 0.8;
}
.wrapper form .row select option {
  background: #ffb366;
  color: #804000;
}
form .row input:focus {
  border-bottom: 1px solid rgb(238, 155, 46);
}
form .row input::placeholder {
  color: #ce801a;
  opacity: 0.8;
}
.wrapper form .row i {
  position: absolute;
  width: 60px;
  height: 100%;
  color: rgb(238, 155, 46);
  font-size: 18px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .button input {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #ff8c1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
form .button input:hover {
  background: #b35900;
}
.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a {
  color: #ff8c1a;
  text-decoration: none;
}
form .signup-link a:hover {
  text-decoration: underline;
}

/* Tabs */
/* Employees Tab */
.teb-view {
  margin: auto;
}

.tab-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 300px;
  background: #30434f;
  margin: auto;
  padding: 0px;
  word-break: break-all;
  border: none;
}

.bloc-tabs {
  display: flex;
  max-width: 500px;
  justify-content: center;
  margin: auto;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 500px;
  background: transparent;
  cursor: pointer;
  border: none;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: none;
}

.active-tabs {
  background: transparent;
  border-bottom: 4px solid #b35900;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
  color: #fff;
  font-size: 20px;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: #30434f;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
  border-top: 2px solid #26343d;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #4a6572;
}
.table td {
  font-size: smaller;
  color: #fff;
  text-align: center;
  border: none;
  padding: 0.5rem;
  background-color: #4a6572;
  border-bottom: 2px solid #26343d;
}
.table th {
  font-size: smaller;
  color: #ff8c1a;
  text-align: center;
  border: none;
  padding: 0.5rem;
  background-color: #4a6572;
  border-bottom: 2px solid #26343d;
}
.table button {
  margin: 0 0.2rem;
}
.table-input-btn input {
  margin-bottom: 0.5rem;
}
.table-input-btn {
  text-align: center !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}
.create-emp-btn {
  background-color: #4c687a;
  width: 165px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}
.create-emp-btn i {
  padding-right: 8px;
}
.create-emp-btn:hover {
  color: #ff8c1a;
}
.table-acton-btn {
  background: transparent;
  padding-left: 10px;
}
.table-acton-btn:hover {
  color: #ff8c1a;
}

/* Departments tab */

.dep-contanier {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.dep-card {
  padding: 5px;
  margin-left: 30px;
  margin-top: 40px;
  border: none;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: #465f6e;
  text-align: center;
}
.dep-card h1 {
  font-size: 20px;
  color: #f8bf04;
  padding-top: 15px;
}
.dep-card p {
  font-size: 20px;
  color: #fff;
}
